.escola-texto-um{
    width: 7;
    margin-top: 7;
    margin-left:7 ;
    margin-right: 7;
}
.foto1{
    width: 150px;
}
header {
   background-color: #0a1451;
   color: azure;
   display: flex;
} 
.lista2{
    width: 500px;

}